:root {
	--swan: #e9dfd3;
	--beige: #e7ceb5;
	--coffee: #d19f6c;
	--avocado: #9a966e;
	--black: #433d3f;
}

body {
	background-color: var(--swan);
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

header {
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	
	background-color: var(--coffee);
}

header h1 {
	color: var(--black);
	padding-left: 20px;
}

header #link-list {
	display: flex;	
	flex-direction: row-reverse;
	width: 100vw;
}

#link-list a {
	text-decoration: none;
	color: var(--black);
	font-size: 20pt;
	padding: 20px;
}