:root {
	--swan: #e9dfd3;
	--beige: #e7ceb5;
	--coffee: #d19f6c;
	--avocado: #9a966e;
	--black: #433d3f;
}

body {
	background-color: var(--swan);
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

main {
	min-height: 92vh;
	display: flex;
	flex-direction: column;
}

/* nav.jsp */
header {
	width: 100vw;
	height: 8vh;
	display: flex;
	align-items: center;
	
	background-color: var(--coffee);
}

header h1 {
	color: var(--black);
	padding-left: 20px;
}

header #link-list {
	display: flex;	
	flex-direction: row-reverse;
	width: 100vw;
}

#link-list a {
	text-decoration: none;
	font-size: 20pt;
	color: var(--black);
	padding: 20px;
}

/* footer.jsp */

footer {
	background-color: var(--coffee);
	
	width: 100vw;
	height: 6vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer p {
	color: var(--black);
	font-family: sans-serif;
}

/* classes de atributos */
.main-centralizado {
	align-items: center;
}
	